# helpers

RC_DIR=$(dirname $(realpath ${BASH_SOURCE[0]}))
source ${RC_DIR}/bin/.helpers # helpful script functions

## prepare env

export PATH="${RC_DIR}/bin:${RC_DIR}/node_modules/.bin:${PATH}"

# node deps and setup

is_bin node || die "! node is required"
log "# node.js $(node --version)"
is_bin npm || die "! npm is required"
log "# npm $(npm --version)"
is_bin nginx || die "! nginx is required"
log "# nginx $(nginx -v 2>&1)"

test -d ${RC_DIR}/node_modules || {
  log "# installing node deps via npm"
  npm install --production
}

# prepare control.conf.json

source ${RC_DIR}/etc/conf.sh

test -e ${CONTROL_CONF_FILE} || {
  log "# ${CONTROL_CONF_FILE} does not exist ... creating it from etc/example.conf.json"
  cp ${RC_DIR}/etc/example.conf.json ${CONTROL_CONF_FILE}
}
